.game-stats {
  display: flex;
  justify-content: space-around;
}

.game-stats li {
  list-style: none;
  text-align: center;
}

main {
  flex-grow: 1;
  display: grid;
}

.quizItem-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.end-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-screen li {
  /* font-size: calc(var(--stat-title-txt) + 10%);
  font-size: calc(var(--stat-value-txt-lrg) + 20%); */
}

.review-restart ul {
}

.quiz-complete {
  color: hsl(var(--light-txt) / 0.8);
  font-family: var(--ff-sans);
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Single column button layout for narrower screens */
.answBtns-div {
  display: flex;
  flex-direction: column;
  gap: var(--answBtn-gap);
}

/* -------------------------- */
/* 2 column / 2 row layout   */
/* -------------------------- */

/* Changes layout of ansBtns to 2 column, 2 row layout for wider screens */
@media only screen and (min-width: 650px) {
  .answBtns-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* ------------------ */
/* AnswBtn classes    */
/* ------------------ */

/* 1 of 2: AnswBtn default (up/unselected) state */
/* prettier-ignore */
.answBtn {
  width: 100%;
  padding: var(--answBtn-padding);
  border-radius: var(--answBtn-brdr-radius);
  border: 0;
  font-size: var(--answBtn-txt);
  line-height: 1.1;
  cursor: pointer;
  color: hsl(var(--hue) var(--sat) 10% / 0.6);
  
  /* Gradient background fill */
  background: linear-gradient(204deg,
    hsl(var(--hue)var(--sat) var(--light)) 0%,
    hsl(calc(var(--hue) + 6) var(--sat) calc(var(--light) - 10%)) 75%);
 
    /* Drop shadow and button's embossed appearance */
  box-shadow: 0em 0.5em 0.5em
      hsl(var(--hue) var(--sat) 5% / 0.3),
    inset -0.2em -0.5em 1.2em
      hsl(var(--hue) var(--sat) calc(var(--light) - 10%)),
    inset -0.2em 0.8em 1.2em 
      hsl(calc(var(--hue) + 6) var(--sat) var(--light));
}

/* 2 of 2: Answer button down (selected/pressed) state */
/* prettier-ignore */
.answbtn--down {
  /* Text color is modified slightly */
  color: hsl(calc(var(--hue) - 10) var(--sat) 16% / 0.6);
  
  /* Gradient background fill */
  background: linear-gradient(180deg,
    hsl(calc(var(--hue) - 4) var(--sat) 40%) 0%,
    hsl(calc(var(--hue) - 10) var(--sat) 50%) 100%);
  /* Drop shadow and button's debossed appearance */
  box-shadow: 0em 0.1em 0.35em 
      hsl(var(--hue) var(--sat) 8% / 0.7),
    inset 0.2em 0.8em 0.5em
      hsl(calc(var(--hue) - 4) var(--sat), calc(var(--light) - 10%) / 0.8),
    inset -0.2em -0.2em 0.5em
      hsl(calc(var(--hue) - 10) var(--sat) var(--light) / -0.9);
}

/* ------------------------- */
/* AnswBtn: hover / focus    */
/* ------------------------- */

/* Hue is modfied to show the correct answer colour */
.answBtn:hover,
answBtn:focus {
  --sat: calc(
    var(--default-answBtn-sat) + 10%
  ); /* adding more saturation to the color mix */
  --light: calc(
    var(--default-answBtn-light) + 2%
  ); /* adding more lightness to the colormix */
}

/* -------------------------------- */
/* AnswBtn: (in)correct / disabled  */
/* -------------------------------- */

/* Saturation is modified to show buttons are disabled  */
.answBtn--disabled,
.answBtn--disabled:hover {
  --sat: var(--disabled-answBtn-sat);
}

/* Hue is modfied to show the incorrect answer colour */
.answBtn--incorrect {
  --hue: var(--incorrect-answBtn-hue);
}

/* Hue is modfied to show the correct answer colour */
.answBtn--correct {
  --hue: var(--correct-answBtn-hue);
  transform: scale(1.03);
  transition: transform 150ms ease-out;
}
.answBtn--reveal-answ {
  --hue: var(--correct-answBtn-hue);
  transform: scale(1.03);
  transition: transform 150ms ease-out;
}

/* --------------------- */
/* Next button styles    */
/* --------------------- */

.nxtBtn {
  width: var(--nxtBtn-width);
  margin-top: var(--nxtBtn-marg-top);
  padding: var(--nxtBtn-padding) 0;
  font-size: var(--nxtBtn-txt);
  background: #000000;
  color: hsl(0 0% 50% / 1);
  border: none;
  align-self: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 200ms ease-out;
}

.nxtBtn--disabled {
  visibility: show;
  background: hsl(0 0% 20% / 1);
  color: hsl(0 0% 40% / 1);
  cursor: default;
  transform: scale(0.98);
  transition: transform 2000ms ease-out;
}
