@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

:root {
  /* ------------------- */
  /* Custom properties   */
  /* ------------------- */

  /* colors */
  --light-txt: 0 0% 90%; /* hsl */
  --dark-bg: 180 16% 15%; /* hsl */

  /* Hue values the answBtn color mix (hsl) */
  --default-answBtn-hue: 46; /* yellow hue */
  --correct-answBtn-hue: 146; /* green hue */
  --incorrect-answBtn-hue: 336; /* red hue */

  /* Saturation values for the answBtn color mix (hsl) */
  --default-answBtn-sat: 70%; /* saturation */
  --disabled-answBtn-sat: 5%; /* low saturation */

  /* Lightness values for the answBtn color mix (hsl) */
  --default-answBtn-light: 50%; /* lightness */

  /* The varibles declared to alter the hsl color mix of 
    text, gradients and shadows in the answBtns in QuizItem.css */
  --hue: var(--default-answBtn-hue); /* set to default hue */
  --sat: var(--default-answBtn-sat); /* set to default sat */
  --light: var(--default-answBtn-light); /* set to default lightness */

  /* font families */
  --ff-sans: 'Ubuntu', sans-serif;
  --ff-sans-cond: 'Ubuntu Condensed', sans-serif;
  --ff-sans-mono: 'Ubuntu Mono', monospace;

  /* text sizes */
  --stat-title-txt: clamp(1.1rem, 2.5vh, 1rem);
  --stat-value-txt-lrg: clamp(1.4rem, 3.5vh, 1.8rem);
  --stat-value-txt-sma: clamp(1rem, 2.5vh, 1.2rem);
  --question-txt: clamp(1.3rem, 3.75vh, 1.6rem);
  --answBtn-txt: clamp(1.03rem, 2.8vh, 1.4rem);
  --nxtBtn-txt: var(0.9rem, 2.5vh, 1.3rem);

  /* app properties */
  --app-padding: clamp(0.7rem, 2vh, 3rem);

  /* button properties */
  --answBtn-width: 100%;
  --nxtBtn-width: 80%;
  --answBtn-brdr-radius: 0.6rem;
  --answBtn-padding: clamp(0.6rem, 2.8vh, 3rem);
  --nxtBtn-padding: clamp(0.6rem, 2vh, 1.5rem);
  --answBtn-gap: clamp(0.3rem, 2vh, 0.5rem);
  --nxtBtn-marg-top: clamp(0.5rem, 1.8vh, 2rem);
}

/* -------------------------------------------- */
/* Custom properties for extra small screens    */
/* -------------------------------------------- */

/* For very small screen devices (374px and below) */
@media only screen and (max-width: 374px) {
  :root {
    /* text sizes */
    --nxtBtn-width: 100%;
    --question-txt: clamp(0.7rem, 4vh, 1.45rem);
    --answBtn-txt: clamp(0.65rem, 2.5vh, 0.9rem);
    --nxtBtn-txt: var(0.6rem, 2.1vh, 0.9rem);

    /* button properties */
    --answBtn-padding: clamp(0.25rem, 2vh, 0.6rem);
  }
}

/* -------------------------------------------- */
/* Custom properties for medium-height screens  */
/* -------------------------------------------- */

/* Medium screen devices with height of 720px and above) */
@media only screen and (min-height: 720px) {
  :root {
    /* app properties */
    --app-padding: clamp(1rem, 6vw, 4.5rem);
    --app-margin: 1.5vw;
    --app-brdr-radius: 1rem;

    /* text sizes */
    --stat-title-txt: clamp(1.1rem, 2.3vh, 1.8rem);
    --stat-value-txt-lrg: clamp(1.3rem, 3.5vh, 2.6rem);
    --stat-value-txt-sma: clamp(1.3rem, 2.5vh, 1.8rem);
    --question-txt: clamp(1.3rem, 5vh, 1.6rem);
    --answBtn-txt: clamp(1.1rem, 2.2vw, 1.5rem);
    --nxtBtn-txt: clamp(1rem, 2.2vw, 1.3rem);

    /* button properties */
    --answBtn-padding: clamp(0.8rem, 6vw, 3rem);
    --nxtBtn-padding: clamp(0.7rem, 2vw, 1.5rem);
    --answBtn-gap: clamp(0.5rem, 1.5vh, 0.6rem);
  }
}

/* Big screen devices (800px and above) */
@media only screen and (min-width: 740px) {
  :root {
    --app-padding: clamp(1rem, 8vh, 2rem);
    --app-margin: 1.5vw;
    --app-brdr-radius: 1rem;
  }
}

/* ----------------------------------------------- */
/* Custom properties for extra big screen devices  */
/* ----------------------------------------------- */

@media only screen and (min-width: 1024px) {
  :root {
    /* app properties */
    --app-padding: clamp(1rem, 8vh, 5rem);
    --app-margin: 1.5vw;
    --app-brdr-radius: 1rem;

    /* text sizes */
    --stat-title-txt: clamp(1rem, 3vh, 1.5rem);
    --stat-value-txt-lrg: clamp(1.5rem, 5vh, 2.3rem);
    --stat-value-txt-sma: clamp(1.2rem, 3vh, 1.5rem);
    --question-txt: clamp(1.2rem, 4vh, 1.6rem);
    --answBtn-txt: clamp(1rem, 3.6vh, 1.3rem);
    --nxtBtn-txt: clamp(1rem, 3.8vh, 1.15rem);

    /* button properties */
    --answBtn-padding: clamp(0.8rem, 4.8vh, 3rem);
    --nxtBtn-padding: clamp(0.7rem, 2vh, 1rem);
    --answBtn-gap: clamp(0.6rem, 1.5vh, 1rem);
  }
}

/* ------------------------- */
/* Color utility classes     */
/* ------------------------- */

/* Dark theme */
.dark {
  /* background: linear-gradient(30deg, hsl(200 4% 14%) 20%, hsl(210 3% 26%) 90%);
  background-repeat: no-repeat; */
}

/* Light theme */
.light {
  background-color: hsl(0 0% 850% / 1);
  color: hsl(0 0% 8% / 1);
}

/* --------------------------- */
/* Typography utility classes  */
/* --------------------------- */

/* Type for the each quiz question */
.sans-question {
  font-family: var(--ff-sans);
  font-size: var(--question-txt);
  color: hsl(var(--light-txt) / 0.9);
  line-height: 1.3;
  text-align: center;
  margin: calc(var(--answBtn-gap) + 1vh) 0.5rem;
}

/* Type used in the stat titles (header))  */
.sans-stat-title {
  color: hsl(var(--light-txt) / 0.7);
  font-family: var(--ff-sans-cond);
  font-size: var(--stat-title-txt);
  font-weight: 400;
}

/* Type used for stat values (header)) */
.sans-stat-value {
  color: hsl(var(--light-txt) / 0.8);
  font-family: var(--ff-sans);
  font-size: var(--stat-value-txt-lrg);
  font-weight: 700;
}

/* Type used to style total num of Questions s (header))  */
.sans-stat-value-small {
  font-family: var(--ff-sans);
  font-size: var(--stat-value-txt-sma);
  font-weight: 700;
}

/* --------------- */
/* Reset */
/* --------------- */

* {
  /* Reset */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Font properites are inheritted into all elements */
  /* Disable zooming from double tapping on mobile devices*/
  touch-action: manipulation;
  /* Disable user from selecting text and elements in app */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: inherit;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #151515;
  font-family: var(--ff-sans);
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: -webkit-fill-available;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(30deg, #222222 30%, #454545 90%);
  border-radius: var(--app-brdr-radius);
  padding: var(--app-padding);
  margin: var(--app-margin);
}

@media only screen and (min-height: 800px) {
  .app {
    height: 80vh;
  }
}

.quiz-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 0.2rem;
  font-family: 'Henny Penny';
  font-size: 5rem;
  font-weight: 400;
  background: linear-gradient(180deg, #eac038 30%, #e09006 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.settings-selects {
  display: flex;
  flex-direction: column;
  flex: 0.8;
}

.settings-selects * {
  margin-bottom: 0.6rem;
}

.settings-selects button {
  margin-top: 0.6rem;
}

.game-stats {
  display: flex;
  justify-content: space-around;
}

.game-stats li {
  list-style: none;
  text-align: center;
}

main {
  flex-grow: 1;
  display: grid;
}

.new-game-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quizItem-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.end-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-complete {
  color: hsl(var(--light-txt) / 0.8);
  font-family: var(--ff-sans);
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Single column button layout for narrower screens */
.answBtns-div {
  display: flex;
  flex-direction: column;
  gap: var(--answBtn-gap);
}

/* -------------------------- */
/* 2 column / 2 row layout   */
/* -------------------------- */

/* Changes layout of ansBtns to 2 column, 2 row layout for wider screens */
@media only screen and (min-width: 650px) {
  .answBtns-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* ------------------ */
/* AnswBtn classes    */
/* ------------------ */

/* 1 of 2: AnswBtn default (up/unselected) state */
/* prettier-ignore */
.answBtn {
  width: 100%;
  padding: var(--answBtn-padding);
  border-radius: var(--answBtn-brdr-radius);
  border: 0;
  font-size: var(--answBtn-txt);
  line-height: 1.1;
  cursor: pointer;
  color: hsl(var(--hue) var(--sat) 10% / 0.6);
  
  /* Gradient background fill */
  background: linear-gradient(204deg,
    hsl(var(--hue)var(--sat) var(--light)) 0%,
    hsl(calc(var(--hue) + 6) var(--sat) calc(var(--light) - 10%)) 75%);
 
    /* Drop shadow and button's embossed appearance */
  box-shadow: 0em 0.5em 0.5em
      hsl(var(--hue) var(--sat) 5% / 0.3),
    inset -0.2em -0.5em 1.2em
      hsl(var(--hue) var(--sat) calc(var(--light) - 10%)),
    inset -0.2em 0.8em 1.2em 
      hsl(calc(var(--hue) + 6) var(--sat) var(--light));
}

/* 2 of 2: Answer button down (selected/pressed) state */
/* prettier-ignore */
.answbtn--down {
  /* Text color is modified slightly */
  color: hsl(calc(var(--hue) - 10) var(--sat) 16% / 0.6);
  
  /* Gradient background fill */
  background: linear-gradient(180deg,
    hsl(calc(var(--hue) - 4) var(--sat) 40%) 0%,
    hsl(calc(var(--hue) - 10) var(--sat) 50%) 100%);
  /* Drop shadow and button's debossed appearance */
  box-shadow: 0em 0.1em 0.35em 
      hsl(var(--hue) var(--sat) 8% / 0.7),
    inset 0.2em 0.8em 0.5em
      hsl(calc(var(--hue) - 4) var(--sat), calc(var(--light) - 10%) / 0.8),
    inset -0.2em -0.2em 0.5em
      hsl(calc(var(--hue) - 10) var(--sat) var(--light) / -0.9);
}

/* ------------------------- */
/* AnswBtn: hover / focus    */
/* ------------------------- */

/* Hue is modfied to show the correct answer colour */
.answBtn:hover,
.answBtn:focus {
  --sat: calc(
    var(--default-answBtn-sat) + 10%
  ); /* adding more saturation to the color mix */
  --light: calc(
    var(--default-answBtn-light) + 2%
  ); /* adding more lightness to the colormix */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* -------------------------------- */
/* AnswBtn: (in)correct / disabled  */
/* -------------------------------- */

/* Saturation is modified to show buttons are disabled  */
.answBtn--disabled,
.answBtn--disabled:hover,
.answBtn--disabled:focus {
  box-shadow: none;
  --sat: var(--disabled-answBtn-sat);
}

/* Hue is modfied to show the incorrect answer colour */
.answBtn--incorrect {
  --hue: var(--incorrect-answBtn-hue);
}

/* Hue is modfied to show the correct answer colour */
.answBtn--correct {
  --hue: var(--correct-answBtn-hue);
  transform: scale(1.02);
  transition: transform 150ms ease-out;
}
.answBtn--reveal-answ {
  --hue: var(--correct-answBtn-hue);
  transform: scale(1.02);
  transition: transform 180ms ease-out;
}
