:root {
  /* ------------------- */
  /* Custom properties   */
  /* ------------------- */

  /* colors */
  --light-txt: 0 0% 90%; /* hsl */
  --dark-bg: 180 16% 15%; /* hsl */

  /* Hue values the answBtn color mix (hsl) */
  --default-answBtn-hue: 46; /* yellow hue */
  --correct-answBtn-hue: 146; /* green hue */
  --incorrect-answBtn-hue: 336; /* red hue */

  /* Saturation values for the answBtn color mix (hsl) */
  --default-answBtn-sat: 70%; /* saturation */
  --disabled-answBtn-sat: 5%; /* low saturation */

  /* Lightness values for the answBtn color mix (hsl) */
  --default-answBtn-light: 50%; /* lightness */

  /* The varibles declared to alter the hsl color mix of 
    text, gradients and shadows in the answBtns in QuizItem.css */
  --hue: var(--default-answBtn-hue); /* set to default hue */
  --sat: var(--default-answBtn-sat); /* set to default sat */
  --light: var(--default-answBtn-light); /* set to default lightness */

  /* font families */
  --ff-sans: 'Ubuntu', sans-serif;
  --ff-sans-cond: 'Ubuntu Condensed', sans-serif;
  --ff-sans-mono: 'Ubuntu Mono', monospace;

  /* text sizes */
  --stat-title-txt: clamp(1.1rem, 2.5vh, 1rem);
  --stat-value-txt-lrg: clamp(1.4rem, 3.5vh, 1.8rem);
  --stat-value-txt-sma: clamp(1rem, 2.5vh, 1.2rem);
  --question-txt: clamp(1.3rem, 3.75vh, 1.6rem);
  --answBtn-txt: clamp(1.03rem, 2.8vh, 1.4rem);
  --nxtBtn-txt: var(0.9rem, 2.5vh, 1.3rem);

  /* app properties */
  --app-padding: clamp(0.7rem, 2vh, 3rem);

  /* button properties */
  --answBtn-width: 100%;
  --nxtBtn-width: 80%;
  --answBtn-brdr-radius: 0.6rem;
  --answBtn-padding: clamp(0.6rem, 2.8vh, 3rem);
  --nxtBtn-padding: clamp(0.6rem, 2vh, 1.5rem);
  --answBtn-gap: clamp(0.3rem, 2vh, 0.5rem);
  --nxtBtn-marg-top: clamp(0.5rem, 1.8vh, 2rem);
}

/* -------------------------------------------- */
/* Custom properties for extra small screens    */
/* -------------------------------------------- */

/* For very small screen devices (374px and below) */
@media only screen and (max-width: 374px) {
  :root {
    /* text sizes */
    --nxtBtn-width: 100%;
    --question-txt: clamp(0.7rem, 4vh, 1.45rem);
    --answBtn-txt: clamp(0.65rem, 2.5vh, 0.9rem);
    --nxtBtn-txt: var(0.6rem, 2.1vh, 0.9rem);

    /* button properties */
    --answBtn-padding: clamp(0.25rem, 2vh, 0.6rem);
  }
}

/* -------------------------------------------- */
/* Custom properties for medium-height screens  */
/* -------------------------------------------- */

/* Medium screen devices with height of 720px and above) */
@media only screen and (min-height: 720px) {
  :root {
    /* app properties */
    --app-padding: clamp(1rem, 6vw, 4.5rem);
    --app-margin: 1.5vw;
    --app-brdr-radius: 1rem;

    /* text sizes */
    --stat-title-txt: clamp(1.1rem, 2.3vh, 1.8rem);
    --stat-value-txt-lrg: clamp(1.3rem, 3.5vh, 2.6rem);
    --stat-value-txt-sma: clamp(1.3rem, 2.5vh, 1.8rem);
    --question-txt: clamp(1.3rem, 5vh, 1.6rem);
    --answBtn-txt: clamp(1.1rem, 2.2vw, 1.5rem);
    --nxtBtn-txt: clamp(1rem, 2.2vw, 1.3rem);

    /* button properties */
    --answBtn-padding: clamp(0.8rem, 6vw, 3rem);
    --nxtBtn-padding: clamp(0.7rem, 2vw, 1.5rem);
    --answBtn-gap: clamp(0.5rem, 1.5vh, 0.6rem);
  }
}

/* Big screen devices (800px and above) */
@media only screen and (min-width: 740px) {
  :root {
    --app-padding: clamp(1rem, 8vh, 2rem);
    --app-margin: 1.5vw;
    --app-brdr-radius: 1rem;
  }
}

/* ----------------------------------------------- */
/* Custom properties for extra big screen devices  */
/* ----------------------------------------------- */

@media only screen and (min-width: 1024px) {
  :root {
    /* app properties */
    --app-padding: clamp(1rem, 8vh, 5rem);
    --app-margin: 1.5vw;
    --app-brdr-radius: 1rem;

    /* text sizes */
    --stat-title-txt: clamp(1rem, 3vh, 1.5rem);
    --stat-value-txt-lrg: clamp(1.5rem, 5vh, 2.3rem);
    --stat-value-txt-sma: clamp(1.2rem, 3vh, 1.5rem);
    --question-txt: clamp(1.2rem, 4vh, 1.6rem);
    --answBtn-txt: clamp(1rem, 3.6vh, 1.3rem);
    --nxtBtn-txt: clamp(1rem, 3.8vh, 1.15rem);

    /* button properties */
    --answBtn-padding: clamp(0.8rem, 4.8vh, 3rem);
    --nxtBtn-padding: clamp(0.7rem, 2vh, 1rem);
    --answBtn-gap: clamp(0.6rem, 1.5vh, 1rem);
  }
}

/* ------------------------- */
/* Color utility classes     */
/* ------------------------- */

/* Dark theme */
.dark {
  /* background: linear-gradient(30deg, hsl(200 4% 14%) 20%, hsl(210 3% 26%) 90%);
  background-repeat: no-repeat; */
}

/* Light theme */
.light {
  background-color: hsl(0 0% 850% / 1);
  color: hsl(0 0% 8% / 1);
}

/* --------------------------- */
/* Typography utility classes  */
/* --------------------------- */

/* Type for the each quiz question */
.sans-question {
  font-family: var(--ff-sans);
  font-size: var(--question-txt);
  color: hsl(var(--light-txt) / 0.9);
  line-height: 1.3;
  text-align: center;
  margin: calc(var(--answBtn-gap) + 1vh) 0.5rem;
}

/* Type used in the stat titles (header))  */
.sans-stat-title {
  color: hsl(var(--light-txt) / 0.7);
  font-family: var(--ff-sans-cond);
  font-size: var(--stat-title-txt);
  font-weight: 400;
}

/* Type used for stat values (header)) */
.sans-stat-value {
  color: hsl(var(--light-txt) / 0.8);
  font-family: var(--ff-sans);
  font-size: var(--stat-value-txt-lrg);
  font-weight: 700;
}

/* Type used to style total num of Questions s (header))  */
.sans-stat-value-small {
  font-family: var(--ff-sans);
  font-size: var(--stat-value-txt-sma);
  font-weight: 700;
}

/* --------------- */
/* Reset */
/* --------------- */

* {
  /* Reset */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Font properites are inheritted into all elements */
  /* Disable zooming from double tapping on mobile devices*/
  touch-action: manipulation;
  /* Disable user from selecting text and elements in app */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: inherit;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222;
  font-family: var(--ff-sans);
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: -webkit-fill-available;
  height: 100%;
  width: 100%;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(28.19deg, #232526 20.07%, #414345 93.9%);
  border-radius: var(--app-brdr-radius);
  padding: var(--app-padding);
  margin: var(--app-margin);
}

@media only screen and (min-height: 800px) {
  .app {
    height: 80vh;
  }
}

/* 
.error-msg {
margin-top: 2rem;
} */

.settings-select {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  /* width: 60%; */
  flex: 0.8;
  justify-content: space-evenly;
}

.settings-select select {
  color: hsl(var(--light-txt) / 0.9);
}

.error-msg {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4;
  background-color: black;
  text-align: center;
  color: white;
}
